.h1-apres {
  margin: 30px 0;
  font-weight: 500;
}

.buttons-margin {
  margin: 20px 0 ;
}

.gap-buttons {
  gap: 40px;
}

.img-apres {
  position: relative;
  width: 400px;
  height: 400px;
  background: linear-gradient(to bottom, #010021, #01008c);
  border: 5px solid #001aff;
  outline: 5px solid #ffcc00;
  border-radius: 50%;
  transform: scale(1);
  transition: 0.5s;
  z-index: -1;
}

.logo-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.img-face {
  width: clamp(225px, 25vw, 315px); /* diminui proporcionalmente */
}

/* logo maior */
.img-logo {
  width: clamp(500px, 40vw, 650px);
}

@media screen and (max-width: 1000px) {
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .buttons-margin {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  .img-apres {
    width: 300px;
    height: 300px;
    display: flex;
    margin: 25px 0 0 0;
  }
}

@media screen and (max-width: 375px) {
  .buttons-margin {
    gap: 8px;
  }

  .button-one,
  .button-two {
    width: 125px;
    margin: 0 0 37px 0;
  }

  .img-apres {
    width: 250px;
    height: 250px;
  }

  .responsive-p {
    width: 98%;
    margin: 0 auto;
  }

  .img-face {
    width: clamp(195px, 25vw, 315px); /* diminui proporcionalmente */
  }

  /* logo maior */
  .img-logo {
    width: clamp(400px, 40vw, 650px);
  }
}
