.pointer {
  cursor: pointer;
}

.gap-header {
  gap: 110px;
}

.cabecalho {
  height: 70px;
  box-shadow: 0px 0px 6px 0.5px white;
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.logo {
  padding: 2px;
  border-radius: 5px;
}

.li-config {
  position: relative;
}

.nav-items {
  display: flex;
  flex-direction: row; /* itens em linha */
}

.nav-items li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0;
  background-color: #ffcc00;
  transition: width 0.3s ease-in-out;
}

.nav-items li:hover::after {
  width: 100%;
}

.btn-mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .cabecalho {
    position: relative;
  }

  
  .btn-mobile {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
  }

  .nav-items {
    display: flex;
    flex-direction: column;      /* itens em coluna */
    align-items: center;         
    max-height: 0;               /* escondido */
    overflow: hidden;            
    opacity: 0;                  
    transition: max-height 1.5s ease, opacity .5s ease; 
    background: #020046;
    position: absolute;
    top: 70px;
    width: 100%;
    padding: 0;
    z-index: 10;
  }

  .nav-items.active {
    max-height: 400px;
    opacity: 1;                  
  }

  .nav-items ul {
    display: flex;
    flex-direction: column;      
    gap: 25px;
    align-items: center;
    padding: 15px 0;
    margin: 0;
  }

  /* hover no mobile */
  .nav-items li:hover::after {
    display: none;
  }
  
  .nav-items li:hover {
    color: #ffcc00;
  }
}

@media screen and (max-width: 355px){
  .btn-mobile{
    width: 32px;
    height: 32px;
  }
}
