h3 {
  margin: 40px 0;
}

.gap-cards {
  gap: 8vw;
}

.tittle-cards {
  margin: 30px 0;
  font-size: 32px;
  text-shadow: 0px 3px 3px #705a01;
}

.gap-icons {
  gap: 15px;
}

.li-anime {
  transform: scale(1);
  transition: 0.4s;
}

.li-anime:hover {
  transform: scale(1.3);
}

.margin-btn{
  margin: 0 0 20px 0;
}

@media screen and (max-width: 1000px) {
  /* Container principal dos cards */
  .gap-cards {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  /* Itens da lista */
  .card li {
    gap: 10px; /* espaço entre ícone e texto */
    font-size: clamp(15px, 2vw, 18px); /* tamanho do texto responsivo */
  }

  /* Ajuste de títulos */
  .tittle-cards {
    font-size: clamp(25px, 3vw, 24px);
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .card {
    width: 275px;
  }
}
