@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* impede rolagem lateral */
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #010024;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 36px;
  margin: 50px 0 50px 0;
}

button {
  width: 174px;
  height: 70px;
  border-radius: 25px;
  font-size: 20px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.4s;
}
